.batchicon-at{
	background: url('./images/@.png');
}
.batchicon-add{
	background: url('./images/add.png');
}
.batchicon-address-book-2{
	background: url('./images/address-book-2.png');
}
.batchicon-address-book{
	background: url('./images/address-book.png');
}
.batchicon-alarm-clock{
	background: url('./images/alarm-clock.png');
}
.batchicon-align-bottom-edges{
	background: url('./images/align-bottom-edges.png');
}
.batchicon-align-horizontal-centers{
	background: url('./images/align-horizontal-centers.png');
}
.batchicon-align-left-edges{
	background: url('./images/align-left-edges.png');
}
.batchicon-align-right-edges{
	background: url('./images/align-right-edges.png');
}
.batchicon-align-top-edges{
	background: url('./images/align-top-edges.png');
}
.batchicon-align-vertical-centers{
	background: url('./images/align-vertical-centers.png');
}
.batchicon-anchor{
	background: url('./images/anchor.png');
}
.batchicon-arrow-down{
	background: url('./images/arrow-down.png');
}
.batchicon-arrow-left{
	background: url('./images/arrow-left.png');
}
.batchicon-arrow-right{
	background: url('./images/arrow-right.png');
}
.batchicon-arrow-up{
	background: url('./images/arrow-up.png');
}
.batchicon-asterisk{
	background: url('./images/asterisk.png');
}
.batchicon-attachment-2{
	background: url('./images/attachment-2.png');
}
.batchicon-attachment{
	background: url('./images/attachment.png');
}
.batchicon-audio-high{
	background: url('./images/audio-high.png');
}
.batchicon-audio-low{
	background: url('./images/audio-low.png');
}
.batchicon-audio-mid{
	background: url('./images/audio-mid.png');
}
.batchicon-audio-mute{
	background: url('./images/audio-mute.png');
}
.batchicon-battery-100-2{
	background: url('./images/battery-100-2.png');
}
.batchicon-battery-100{
	background: url('./images/battery-100.png');
}
.batchicon-battery-20-2{
	background: url('./images/battery-20-2.png');
}
.batchicon-battery-20{
	background: url('./images/battery-20.png');
}
.batchicon-battery-40-2{
	background: url('./images/battery-40-2.png');
}
.batchicon-battery-40{
	background: url('./images/battery-40.png');
}
.batchicon-battery-60-2{
	background: url('./images/battery-60-2.png');
}
.batchicon-battery-60{
	background: url('./images/battery-60.png');
}
.batchicon-battery-80-2{
	background: url('./images/battery-80-2.png');
}
.batchicon-battery-80{
	background: url('./images/battery-80.png');
}
.batchicon-battery-charge-2{
	background: url('./images/battery-charge-2.png');
}
.batchicon-battery-charge{
	background: url('./images/battery-charge.png');
}
.batchicon-battery-empty-2{
	background: url('./images/battery-empty-2.png');
}
.batchicon-battery-empty{
	background: url('./images/battery-empty.png');
}
.batchicon-bell-2{
	background: url('./images/bell-2.png');
}
.batchicon-bell-mute-2{
	background: url('./images/bell-mute-2.png');
}
.batchicon-bell-mute{
	background: url('./images/bell-mute.png');
}
.batchicon-bell{
	background: url('./images/bell.png');
}
.batchicon-bin-2{
	background: url('./images/bin-2.png');
}
.batchicon-bin-3{
	background: url('./images/bin-3.png');
}
.batchicon-bin{
	background: url('./images/bin.png');
}
.batchicon-book-2{
	background: url('./images/book-2.png');
}
.batchicon-book-lines-2{
	background: url('./images/book-lines-2.png');
}
.batchicon-book-lines{
	background: url('./images/book-lines.png');
}
.batchicon-book{
	background: url('./images/book.png');
}
.batchicon-brightness-high{
	background: url('./images/brightness-high.png');
}
.batchicon-brightness-low{
	background: url('./images/brightness-low.png');
}
.batchicon-browser-2{
	background: url('./images/browser-2.png');
}
.batchicon-browser-close-2.psd{
	background: url('./images/browser-close-2.psd');
}
.batchicon-browser-close{
	background: url('./images/browser-close.png');
}
.batchicon-browser-download-2{
	background: url('./images/browser-download-2.png');
}
.batchicon-browser-download{
	background: url('./images/browser-download.png');
}
.batchicon-browser-minimise-2{
	background: url('./images/browser-minimise-2.png');
}
.batchicon-browser-minimise{
	background: url('./images/browser-minimise.png');
}
.batchicon-browser-new-window-2{
	background: url('./images/browser-new-window-2.png');
}
.batchicon-browser-new-window{
	background: url('./images/browser-new-window.png');
}
.batchicon-browser-upload-2{
	background: url('./images/browser-upload-2.png');
}
.batchicon-browser-upload{
	background: url('./images/browser-upload.png');
}
.batchicon-browser-windows-2{
	background: url('./images/browser-windows-2.png');
}
.batchicon-browser-windows{
	background: url('./images/browser-windows.png');
}
.batchicon-browser{
	background: url('./images/browser.png');
}
.batchicon-bulb-2{
	background: url('./images/bulb-2.png');
}
.batchicon-bulb{
	background: url('./images/bulb.png');
}
.batchicon-bullet{
	background: url('./images/bullet.png');
}
.batchicon-bullhorn-2{
	background: url('./images/bullhorn-2.png');
}
.batchicon-bullhorn{
	background: url('./images/bullhorn.png');
}
.batchicon-calendar{
	background: url('./images/calendar.png');
}
.batchicon-camera-2{
	background: url('./images/camera-2.png');
}
.batchicon-camera-3{
	background: url('./images/camera-3.png');
}
.batchicon-camera{
	background: url('./images/camera.png');
}
.batchicon-casette{
	background: url('./images/casette.png');
}
.batchicon-clipboard-2{
	background: url('./images/clipboard-2.png');
}
.batchicon-clipboard{
	background: url('./images/clipboard.png');
}
.batchicon-clock{
	background: url('./images/clock.png');
}
.batchicon-cloud-add-2{
	background: url('./images/cloud-add-2.png');
}
.batchicon-cloud-add{
	background: url('./images/cloud-add.png');
}
.batchicon-cloud-download{
	background: url('./images/cloud-download.png');
}
.batchicon-cloud-remove-2{
	background: url('./images/cloud-remove-2.png');
}
.batchicon-cloud-remove{
	background: url('./images/cloud-remove.png');
}
.batchicon-cloud-upload{
	background: url('./images/cloud-upload.png');
}
.batchicon-cloud{
	background: url('./images/cloud.png');
}
.batchicon-cmd{
	background: url('./images/cmd.png');
}
.batchicon-code{
	background: url('./images/code.png');
}
.batchicon-commit{
	background: url('./images/commit.png');
}
.batchicon-compass{
	background: url('./images/compass.png');
}
.batchicon-compose-2{
	background: url('./images/compose-2.png');
}
.batchicon-compose-3{
	background: url('./images/compose-3.png');
}
.batchicon-compose-4{
	background: url('./images/compose-4.png');
}
.batchicon-compose{
	background: url('./images/compose.png');
}
.batchicon-contract-2{
	background: url('./images/contract-2.png');
}
.batchicon-contract-3{
	background: url('./images/contract-3.png');
}
.batchicon-contract{
	background: url('./images/contract.png');
}
.batchicon-contrast{
	background: url('./images/contrast.png');
}
.batchicon-converge{
	background: url('./images/converge.png');
}
.batchicon-crate{
	background: url('./images/crate.png');
}
.batchicon-credit-card-2{
	background: url('./images/credit-card-2.png');
}
.batchicon-credit-card-3{
	background: url('./images/credit-card-3.png');
}
.batchicon-credit-card-4{
	background: url('./images/credit-card-4.png');
}
.batchicon-credit-card{
	background: url('./images/credit-card.png');
}
.batchicon-crop{
	background: url('./images/crop.png');
}
.batchicon-cross{
	background: url('./images/cross.png');
}
.batchicon-curlybrace-2{
	background: url('./images/curlybrace-2.png');
}
.batchicon-curlybrace{
	background: url('./images/curlybrace.png');
}
.batchicon-database-add{
	background: url('./images/database-add.png');
}
.batchicon-database-remove{
	background: url('./images/database-remove.png');
}
.batchicon-database{
	background: url('./images/database.png');
}
.batchicon-delete{
	background: url('./images/delete.png');
}
.batchicon-distribute-bottom-edges{
	background: url('./images/distribute-bottom-edges.png');
}
.batchicon-distribute-horizontal-centers{
	background: url('./images/distribute-horizontal-centers.png');
}
.batchicon-distribute-left-edges{
	background: url('./images/distribute-left-edges.png');
}
.batchicon-distribute-right-edges{
	background: url('./images/distribute-right-edges.png');
}
.batchicon-distribute-top-edges{
	background: url('./images/distribute-top-edges.png');
}
.batchicon-distribute-vertical-centers{
	background: url('./images/distribute-vertical-centers.png');
}
.batchicon-document-add{
	background: url('./images/document-add.png');
}
.batchicon-document-remove{
	background: url('./images/document-remove.png');
}
.batchicon-document{
	background: url('./images/document.png');
}
.batchicon-droplet{
	background: url('./images/droplet.png');
}
.batchicon-ellipsis{
	background: url('./images/ellipsis.png');
}
.batchicon-envelope{
	background: url('./images/envelope.png');
}
.batchicon-exclude{
	background: url('./images/exclude.png');
}
.batchicon-expand-2{
	background: url('./images/expand-2.png');
}
.batchicon-expand-3{
	background: url('./images/expand-3.png');
}
.batchicon-expand{
	background: url('./images/expand.png');
}
.batchicon-eye-2{
	background: url('./images/eye-2.png');
}
.batchicon-eye{
	background: url('./images/eye.png');
}
.batchicon-fast-forward{
	background: url('./images/fast-forward.png');
}
.batchicon-flag-2{
	background: url('./images/flag-2.png');
}
.batchicon-flag{
	background: url('./images/flag.png');
}
.batchicon-flask-empty{
	background: url('./images/flask-empty.png');
}
.batchicon-flask-full{
	background: url('./images/flask-full.png');
}
.batchicon-floppy{
	background: url('./images/floppy.png');
}
.batchicon-flux{
	background: url('./images/flux.png');
}
.batchicon-folder-2{
	background: url('./images/folder-2.png');
}
.batchicon-folder-add-2{
	background: url('./images/folder-add-2.png');
}
.batchicon-folder-add{
	background: url('./images/folder-add.png');
}
.batchicon-folder-duplicate-2{
	background: url('./images/folder-duplicate-2.png');
}
.batchicon-folder-duplicate{
	background: url('./images/folder-duplicate.png');
}
.batchicon-folder-remove-2{
	background: url('./images/folder-remove-2.png');
}
.batchicon-folder-remove{
	background: url('./images/folder-remove.png');
}
.batchicon-folder{
	background: url('./images/folder.png');
}
.batchicon-fork{
	background: url('./images/fork.png');
}
.batchicon-grid-2{
	background: url('./images/grid-2.png');
}
.batchicon-grid{
	background: url('./images/grid.png');
}
.batchicon-headphones{
	background: url('./images/headphones.png');
}
.batchicon-heart-empty{
	background: url('./images/heart-empty.png');
}
.batchicon-heart-full{
	background: url('./images/heart-full.png');
}
.batchicon-heart-half{
	background: url('./images/heart-half.png');
}
.batchicon-home-2{
	background: url('./images/home-2.png');
}
.batchicon-home-3{
	background: url('./images/home-3.png');
}
.batchicon-home{
	background: url('./images/home.png');
}
.batchicon-image{
	background: url('./images/image.png');
}
.batchicon-in{
	background: url('./images/in.png');
}
.batchicon-inbox-2{
	background: url('./images/inbox-2.png');
}
.batchicon-inbox{
	background: url('./images/inbox.png');
}
.batchicon-infinity{
	background: url('./images/infinity.png');
}
.batchicon-intersect{
	background: url('./images/intersect.png');
}
.batchicon-key-2{
	background: url('./images/key-2.png');
}
.batchicon-key{
	background: url('./images/key.png');
}
.batchicon-keys{
	background: url('./images/keys.png');
}
.batchicon-layout-column-center{
	background: url('./images/layout-column-center.png');
}
.batchicon-layout-content-left-2{
	background: url('./images/layout-content-left-2.png');
}
.batchicon-layout-content-left{
	background: url('./images/layout-content-left.png');
}
.batchicon-layout-content-right-2{
	background: url('./images/layout-content-right-2.png');
}
.batchicon-layout-content-right{
	background: url('./images/layout-content-right.png');
}
.batchicon-layout-sidebar-left{
	background: url('./images/layout-sidebar-left.png');
}
.batchicon-layout-sidebar-right{
	background: url('./images/layout-sidebar-right.png');
}
.batchicon-link-2{
	background: url('./images/link-2.png');
}
.batchicon-link{
	background: url('./images/link.png');
}
.batchicon-list-2{
	background: url('./images/list-2.png');
}
.batchicon-list{
	background: url('./images/list.png');
}
.batchicon-locked{
	background: url('./images/locked.png');
}
.batchicon-mail-2{
	background: url('./images/mail-2.png');
}
.batchicon-mail-3{
	background: url('./images/mail-3.png');
}
.batchicon-mail-4{
	background: url('./images/mail-4.png');
}
.batchicon-mail-incoming{
	background: url('./images/mail-incoming.png');
}
.batchicon-mail-outgoing{
	background: url('./images/mail-outgoing.png');
}
.batchicon-mail{
	background: url('./images/mail.png');
}
.batchicon-map-2{
	background: url('./images/map-2.png');
}
.batchicon-map{
	background: url('./images/map.png');
}
.batchicon-marquee-download{
	background: url('./images/marquee-download.png');
}
.batchicon-marquee-minus{
	background: url('./images/marquee-minus.png');
}
.batchicon-marquee-plus{
	background: url('./images/marquee-plus.png');
}
.batchicon-marquee-upload{
	background: url('./images/marquee-upload.png');
}
.batchicon-marquee{
	background: url('./images/marquee.png');
}
.batchicon-maximise{
	background: url('./images/maximise.png');
}
.batchicon-menu-2{
	background: url('./images/menu-2.png');
}
.batchicon-menu-pull-down{
	background: url('./images/menu-pull-down.png');
}
.batchicon-menu-pull-up{
	background: url('./images/menu-pull-up.png');
}
.batchicon-menu{
	background: url('./images/menu.png');
}
.batchicon-microphone-2{
	background: url('./images/microphone-2.png');
}
.batchicon-microphone{
	background: url('./images/microphone.png');
}
.batchicon-minus{
	background: url('./images/minus.png');
}
.batchicon-mixer{
	background: url('./images/mixer.png');
}
.batchicon-newspaper-2{
	background: url('./images/newspaper-2.png');
}
.batchicon-newspaper{
	background: url('./images/newspaper.png');
}
.batchicon-next{
	background: url('./images/next.png');
}
.batchicon-nib{
	background: url('./images/nib.png');
}
.batchicon-nope{
	background: url('./images/nope.png');
}
.batchicon-notes{
	background: url('./images/notes.png');
}
.batchicon-options{
	background: url('./images/options.png');
}
.batchicon-out{
	background: url('./images/out.png');
}
.batchicon-outbox-2{
	background: url('./images/outbox-2.png');
}
.batchicon-outbox{
	background: url('./images/outbox.png');
}
.batchicon-outgoing-2{
	background: url('./images/outgoing-2.png');
}
.batchicon-outgoing{
	background: url('./images/outgoing.png');
}
.batchicon-paper-ripped{
	background: url('./images/paper-ripped.png');
}
.batchicon-paper-roll-ripped{
	background: url('./images/paper-roll-ripped.png');
}
.batchicon-paper-roll{
	background: url('./images/paper-roll.png');
}
.batchicon-paragraph-center-2{
	background: url('./images/paragraph-center-2.png');
}
.batchicon-paragraph-center{
	background: url('./images/paragraph-center.png');
}
.batchicon-paragraph-justify-2{
	background: url('./images/paragraph-justify-2.png');
}
.batchicon-paragraph-justify{
	background: url('./images/paragraph-justify.png');
}
.batchicon-paragraph-left-2{
	background: url('./images/paragraph-left-2.png');
}
.batchicon-paragraph-left{
	background: url('./images/paragraph-left.png');
}
.batchicon-paragraph-right-2{
	background: url('./images/paragraph-right-2.png');
}
.batchicon-paragraph-right{
	background: url('./images/paragraph-right.png');
}
.batchicon-pause{
	background: url('./images/pause.png');
}
.batchicon-pen{
	background: url('./images/pen.png');
}
.batchicon-pencil{
	background: url('./images/pencil.png');
}
.batchicon-pin-2{
	background: url('./images/pin-2.png');
}
.batchicon-pin{
	background: url('./images/pin.png');
}
.batchicon-play{
	background: url('./images/play.png');
}
.batchicon-plus{
	background: url('./images/plus.png');
}
.batchicon-podcast-2{
	background: url('./images/podcast-2.png');
}
.batchicon-podcast{
	background: url('./images/podcast.png');
}
.batchicon-polaroid-2{
	background: url('./images/polaroid-2.png');
}
.batchicon-polaroid{
	background: url('./images/polaroid.png');
}
.batchicon-power{
	background: url('./images/power.png');
}
.batchicon-previous{
	background: url('./images/previous.png');
}
.batchicon-print{
	background: url('./images/print.png');
}
.batchicon-pull{
	background: url('./images/pull.png');
}
.batchicon-quill-2{
	background: url('./images/quill-2.png');
}
.batchicon-quill{
	background: url('./images/quill.png');
}
.batchicon-refresh{
	background: url('./images/refresh.png');
}
.batchicon-reminder{
	background: url('./images/reminder.png');
}
.batchicon-remove{
	background: url('./images/remove.png');
}
.batchicon-repeat-2{
	background: url('./images/repeat-2.png');
}
.batchicon-repeat{
	background: url('./images/repeat.png');
}
.batchicon-reply-all{
	background: url('./images/reply-all.png');
}
.batchicon-reply{
	background: url('./images/reply.png');
}
.batchicon-return{
	background: url('./images/return.png');
}
.batchicon-revert{
	background: url('./images/revert.png');
}
.batchicon-rewind{
	background: url('./images/rewind.png');
}
.batchicon-rulers{
	background: url('./images/rulers.png');
}
.batchicon-safe{
	background: url('./images/safe.png');
}
.batchicon-search-2{
	background: url('./images/search-2.png');
}
.batchicon-search{
	background: url('./images/search.png');
}
.batchicon-section{
	background: url('./images/section.png');
}
.batchicon-settings-2{
	background: url('./images/settings-2.png');
}
.batchicon-settings-3{
	background: url('./images/settings-3.png');
}
.batchicon-settings-4{
	background: url('./images/settings-4.png');
}
.batchicon-settings{
	background: url('./images/settings.png');
}
.batchicon-shred{
	background: url('./images/shred.png');
}
.batchicon-shuffle{
	background: url('./images/shuffle.png');
}
.batchicon-sleep{
	background: url('./images/sleep.png');
}
.batchicon-spam-2{
	background: url('./images/spam-2.png');
}
.batchicon-spam{
	background: url('./images/spam.png');
}
.batchicon-speech-bubble-center-2{
	background: url('./images/speech-bubble-center-2.png');
}
.batchicon-speech-bubble-center-3{
	background: url('./images/speech-bubble-center-3.png');
}
.batchicon-speech-bubble-center{
	background: url('./images/speech-bubble-center.png');
}
.batchicon-speech-bubble-left-2{
	background: url('./images/speech-bubble-left-2.png');
}
.batchicon-speech-bubble-left-3{
	background: url('./images/speech-bubble-left-3.png');
}
.batchicon-speech-bubble-left-4{
	background: url('./images/speech-bubble-left-4.png');
}
.batchicon-speech-bubble-left{
	background: url('./images/speech-bubble-left.png');
}
.batchicon-speech-bubble-right-2{
	background: url('./images/speech-bubble-right-2.png');
}
.batchicon-speech-bubble-right-3{
	background: url('./images/speech-bubble-right-3.png');
}
.batchicon-speech-bubble-right-4{
	background: url('./images/speech-bubble-right-4.png');
}
.batchicon-speech-bubble-right{
	background: url('./images/speech-bubble-right.png');
}
.batchicon-spinner-2{
	background: url('./images/spinner-2.png');
}
.batchicon-spinner-3{
	background: url('./images/spinner-3.png');
}
.batchicon-spinner{
	background: url('./images/spinner.png');
}
.batchicon-split-2{
	background: url('./images/split-2.png');
}
.batchicon-split{
	background: url('./images/split.png');
}
.batchicon-spool{
	background: url('./images/spool.png');
}
.batchicon-square-brackets{
	background: url('./images/square-brackets.png');
}
.batchicon-stamp-2{
	background: url('./images/stamp-2.png');
}
.batchicon-stamp{
	background: url('./images/stamp.png');
}
.batchicon-star-2{
	background: url('./images/star-2.png');
}
.batchicon-star{
	background: url('./images/star.png');
}
.batchicon-stiffy{
	background: url('./images/stiffy.png');
}
.batchicon-stop{
	background: url('./images/stop.png');
}
.batchicon-stopwatch{
	background: url('./images/stopwatch.png');
}
.batchicon-store-2{
	background: url('./images/store-2.png');
}
.batchicon-store{
	background: url('./images/store.png');
}
.batchicon-subtract{
	background: url('./images/subtract.png');
}
.batchicon-support-2{
	background: url('./images/support-2.png');
}
.batchicon-support-3{
	background: url('./images/support-3.png');
}
.batchicon-support{
	background: url('./images/support.png');
}
.batchicon-swap-2{
	background: url('./images/swap-2.png');
}
.batchicon-swap{
	background: url('./images/swap.png');
}
.batchicon-swatch{
	background: url('./images/swatch.png');
}
.batchicon-swatches{
	background: url('./images/swatches.png');
}
.batchicon-switch-off{
	background: url('./images/switch-off.png');
}
.batchicon-switch-on{
	background: url('./images/switch-on.png');
}
.batchicon-tag-2{
	background: url('./images/tag-2.png');
}
.batchicon-tag-3{
	background: url('./images/tag-3.png');
}
.batchicon-tag-4{
	background: url('./images/tag-4.png');
}
.batchicon-tag{
	background: url('./images/tag.png');
}
.batchicon-terminal-2{
	background: url('./images/terminal-2.png');
}
.batchicon-terminal-3{
	background: url('./images/terminal-3.png');
}
.batchicon-terminal{
	background: url('./images/terminal.png');
}
.batchicon-tick{
	background: url('./images/tick.png');
}
.batchicon-tilde{
	background: url('./images/tilde.png');
}
.batchicon-timeline{
	background: url('./images/timeline.png');
}
.batchicon-toggle-off{
	background: url('./images/toggle-off.png');
}
.batchicon-toggle-on{
	background: url('./images/toggle-on.png');
}
.batchicon-transfer{
	background: url('./images/transfer.png');
}
.batchicon-tray{
	background: url('./images/tray.png');
}
.batchicon-unite{
	background: url('./images/unite.png');
}
.batchicon-unlocked{
	background: url('./images/unlocked.png');
}
.batchicon-unwatch{
	background: url('./images/unwatch.png');
}
.batchicon-user-2-add{
	background: url('./images/user-2-add.png');
}
.batchicon-user-2-remove{
	background: url('./images/user-2-remove.png');
}
.batchicon-user-2{
	background: url('./images/user-2.png');
}
.batchicon-user-3{
	background: url('./images/user-3.png');
}
.batchicon-user-4-add{
	background: url('./images/user-4-add.png');
}
.batchicon-user-4-remove{
	background: url('./images/user-4-remove.png');
}
.batchicon-user-4{
	background: url('./images/user-4.png');
}
.batchicon-user-card{
	background: url('./images/user-card.png');
}
.batchicon-user{
	background: url('./images/user.png');
}
.batchicon-users{
	background: url('./images/users.png');
}
.batchicon-video-2{
	background: url('./images/video-2.png');
}
.batchicon-video{
	background: url('./images/video.png');
}
.batchicon-vinyl{
	background: url('./images/vinyl.png');
}
.batchicon-voicemail{
	background: url('./images/voicemail.png');
}
.batchicon-waller-2{
	background: url('./images/waller-2.png');
}
.batchicon-wallet{
	background: url('./images/wallet.png');
}
.batchicon-watch-2{
	background: url('./images/watch-2.png');
}
.batchicon-watch{
	background: url('./images/watch.png');
}
.batchicon-wave-2{
	background: url('./images/wave-2.png');
}
.batchicon-wave{
	background: url('./images/wave.png');
}
.batchicon-wifi-high{
	background: url('./images/wifi-high.png');
}
.batchicon-wifi-low{
	background: url('./images/wifi-low.png');
}
.batchicon-wifi-mid{
	background: url('./images/wifi-mid.png');
}
.batchicon-wiggle{
	background: url('./images/wiggle.png');
}
.batchicon-windows{
	background: url('./images/windows.png');
}
.batchicon-zoom-in-2{
	background: url('./images/zoom-in-2.png');
}
.batchicon-zoom-in{
	background: url('./images/zoom-in.png');
}
.batchicon-zoom-out-2{
	background: url('./images/zoom-out-2.png');
}
.batchicon-zoom-out{
	background: url('./images/zoom-out.png');
}
