.dat-grid-view-grid-helper{
    border-top  : 1px dashed #DDD;
    border-left : 1px dashed #DDD;
    position: absolute;
    top: 0;
    left: 0;
}

.dat-grid-view-grid-helper>div{
    border-right  : 1px dashed #DDD;
    border-bottom : 1px dashed #DDD;
    float: left;
}
